body {
}

#gif {
    height: 80px;
    
    justify-content: center;
}

.messages {
    width: 100%;
}

.messages-icon {
    width: 100%;
    justify-content: center;
    padding-top: 15px;
}
.messages-main {
    width: 100%;
    align-items: center;
}

.messages-big {
    color: rgb(77, 77, 77);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6px;
}

.messages-small {
    color: #333;
    font-size: 12px;
    font-weight: 400;
}

.messages-buttons {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}