:root {
    /* ----- Font sizes */
  --title-size: 24px;
  --subtitle-size: 34px;
  --description-size: 24px;
  --p-size: 21px;
  --small-size: 16px;

  --black-color: #707070;
  --weight: 300;

}

* {
    color: var(--black-color);
    font-weight: var(--weight);
    background-color: #ffffff;
    box-sizing: border-box;
}

body {
    background: #ffffff !important;
}

header {
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header x-label {
    padding: 32px 24px;

    font-size: var(--title-size);
    font-weight: 300;
}

.header-logo {
    width: auto;
    height: 80%;
    padding: 12px 20px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    margin: 0 0;
}

.container {
    display: flex;
    flex-direction: column;

    align-items: flex-start;

    width: 85%;

    margin: 15px auto;
}

.container > x-label {
    font-size: 12px;
    padding-bottom: 10px;
}

.container > x-input {
    max-width: 100%;
    width: 100%;
}

.container text-area {
    height: 120px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    color: #707070;
    font-size: 8px;
    overflow-y: scroll;
}

x-button {
    margin: 20px 0;
}

x-button:hover {
    cursor: pointer;
    background-color: #0d479f;
    color: white;
    border: white;
}