:root {
    /* ----- Font sizes */
  --title-size: 24px;
  --subtitle-size: 34px;
  --description-size: 24px;
  --p-size: 21px;
  --small-size: 16px;

  --black-color: #707070;
  --weight: 300;
}

* {
    color: var(--black-color);
    font-weight: var(--weight);
    background-color: #ffffff;
}

body {
    background: #ffffff !important;
}

header {
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header x-label {
    padding: 32px 24px;

    font-size: var(--title-size);
    font-weight: 300;
}

.header-logo {
    width: auto;
    height: 80%;
    padding: 12px 20px;
}

.options {
    margin: 30px;
}

.options-item {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 73px;
    justify-content: flex-end;
    padding-right: 10%;
}


.buttons x-button{
    margin-left: 15px;
}

#warnings {
    width: 90%;
    color: #FF4949;
    font-size: 10px;
    text-align: center;
    margin-top: 3px;
}